config:
{#                                                          #}
{#                                                          #}
{#                                               EXTENSIONS #}
{#                                                          #}
{#                                                          #}
{% if 'extensions' in data.keys() %}
  extensions:
{% for extension in data['extensions'] %}
  - {{ extension }}
{% endfor %}
{% endif %}
{#                                                          #}
{#                                                          #}
{#                                             BUILD STAGES #}
{#                                                          #}
{#                                                          #}
{% if 'build_stage' in data.keys() %}
  build_stage:
{% for build_stage in data['build_stage'] %}
  - {{ build_stage }}
{% endfor %}
{% endif %}
{#                                                          #}
{#                                                          #}
{#                                             MODULE ROOTS #}
{#                                                          #}
{#                                                          #}
{% if 'module_roots' in data.keys() %}
  module_roots:
{% for pkg, path in data['module_roots'].items() %}
    {{ pkg }}: {{ path }}
{% endfor %}
{% endif %}
