{#                                                          #}
{#                                                          #}
{#                              COMMON.YAML (string values) #}
{#                                                          #}
{#                                                          #}
{% for key, value in common['str'].items() %}
export {{ key }}={{ value }}
{% endfor %}
