---                                                             mirrors:
/ssoft/spack/arvine/spack.v1/etc/spack/defaults/mirrors.yaml:2    spack-public: https://spack-llnl-mirror.s3-us-west-2.amazonaws.com/
/ssoft/spack/arvine/spack.v1/etc/spack/mirrors.yaml:2             restricted: /ssoft/spack/spack-mirror-restricted
/ssoft/spack/arvine/spack.v1/etc/spack/mirrors.yaml:3             local: /ssoft/spack/spack-mirror
