packages:
{#                                                          #}
{#                                                          #}
{#                                         DEFAULT PACKAGES #}
{#                                                          #}
{#                                                          #}
{% for pkg, definition in packages['defaults'].items() %}
{% if pkg not in packages['externals'] %}
  {{ pkg }}:
{% for key, value in definition.items() %}
    {{ key }}: {{value}}
{% endfor %}
{% endif %}
{% endfor %}
{#                                                          #}
{#                                                          #}
{#                                        EXTERNAL PACKAGES #}
{#                                                          #}
{#                                                          #}
{% for pkg, definition in packages['externals'].items() %}
  {{ pkg }}:
{% if pkg in packages['defaults'] %}
{% for key, value in packages['defaults'][pkg].items() %}
    {{ key }}: {{value}}
{% endfor %}
{% endif %}
    externals:
{% for spec in definition %}
    - {{spec}}
{% endfor %}
{% endfor %}
  all:
    providers:
      blas: [openblas, intel-mkl]
      fftw-api: [fftw]
      uuid: [util-linux-uuid]
      gl: [mesa]
      glu: [mesa-glu]
