modules:
  default:
    roots:
      lmod: {{ data['lmod_roots'] }}
      tcl: {{ data['tcl_roots'] }}
    enable:
    - lmod
    - tcl
    lmod:
      hash_length: 0
      core_compilers:
      - gcc@8.5.0
      hierarchy:
      - mpi
      blacklist_implicits: true
      all:
        environment:
          set:
            ${PACKAGE}_ROOT: ${PREFIX}
        suffixes:
{% for variant, suffix in data['suffixes'].items() %}
          {{ variant }}: {{ suffix }}
{% endfor %}
