---                                                            repos:
/ssoft/spack/arvine/spack.v1/etc/spack/repos.yaml:2            - /ssoft/spack/arvine/external_repos/scitas-repos-externals/
/ssoft/spack/arvine/spack.v1/etc/spack/repos.yaml:3            - /ssoft/spack/arvine/external_repos/scitas-spack-packages/
/ssoft/spack/arvine/spack.v1/etc/spack/defaults/repos.yaml:14  - $spack/var/spack/repos/builtin
